<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <div class="logo-section">
    <ion-img src="assets/castlite.jpg" class="logo-img"></ion-img>
    <h2>Welcome to Castlite AAC Blocks</h2>
  </div>

  <ion-card class="info-card">
    <ion-card-header>
      <ion-card-title>Oven Dry Density</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>451 - 550 kg/m³</li>
        <li>551 - 650 kg/m³</li>
        <li>651 - 750 kg/m³</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card class="info-card">
    <ion-card-header>
      <ion-card-title>Compressive Strength</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <strong>GRADE 1</strong>
      <ul>
        <li>2.0 N/mm²</li>
        <li>4.0 N/mm²</li>
        <li>5.0 N/mm²</li>
      </ul>
    </ion-card-content>
  </ion-card>

    <ion-button (click)="getCastliteLocation()">
      <ion-icon slot="start" name="navigate-outline"></ion-icon>
    Show Castlite Factory Location
  </ion-button>

   <ion-button  (click)="getUserLocation()">
    <ion-icon slot="start" name="navigate-outline"></ion-icon>
    Show User Current Location
  </ion-button>

  <div *ngIf="locationData" class="location-text">
        <p><strong>Coordinates:</strong><br />{{ locationData }}</p>
        <ion-button *ngIf="locationLink" fill="outline" color="success" href="{{ locationLink }}" target="_blank">
    Open in Google Maps
  </ion-button>
      </div>

</ion-content>
